.zIndex {
    z-index: 9;
}

.text-primary {
    color: #7AB730 !important;
}

.nav-link {
    display: block;
    padding: .5rem 1rem
}


.nav-link:hover {
    text-decoration: none;
    background-color: rgb(172, 100, 169);
    /* background-color: rgb(238, 16, 16); */
    border-radius: 10px;
    background-color: #7AB730 !important;
    color: white !important;
    transition: 1.5s;
    /* background-color:darkgoldenrod; */
}

.active {
    background-color: rgb(172, 100, 169);
    /* background-color: rgb(238, 16, 16); */
    border-radius: 10px;
    background-color: #7AB730 !important;
    color: white !important;
}

/* 
.navbar-light .navbar-nav .nav-link {
    padding: 30px 15px;
    color: #212121;
    font-weight: 500;
    outline: none
} */

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #7AB730
}